/** main styling **/

body {
    font-family: 'Lobster', cursive;
    color: #77618a;
    background: #f7f7f7;
}

a {
    color: #C17DD8;
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin: 1% 0 0 30%;
}

#collage {
    margin: 0 0 0 4.25%;
    max-width: 100%;
    height: auto;
}

/** navigation **/

ul.nav {
    width: 65%;
    margin: 0 auto;
    float: right;
    list-style: none;
    text-align: center;
}

ul.nav li {
    float: left;
    margin-right: 5%;
       
}

/** page portfolio **/

#gallery {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flower {
    float: left;
    margin: .4% .5% .4% 4%;
}

.flower img {
    width: 100%;
    height: auto;
}


#anchor1 {
    clear: both;
    margin-left: 42%;
    font-size: 2em;
}

/** footer **/

#footer {
    border-top: 8px solid #2a0400;
    padding: 10px 0;
    margin: 15px 10px 0 10px;
    text-align: center;
}

/*** media queries ***/
/*** Iphone ***/
/* Tablet ----------- */
@media screen and (max-width: 1024px) {


#nav {
	width: 100%;
}
#nav ul {
	margin: 0;
}

#nav ul li {
	float: left;
	margin: 5% 0 0 0;
	}
	#nav ul li.about {
		width: 15%;
	}
	#nav ul li.pricing {
		width: 35%;
	}
	#nav ul li.locations {
		width: 25%;
	}
	#nav ul li.contact {
		width: 25%;
		margin: 5% 0 2% 0;
	}


}


/* Small ----------- */
@media screen and (max-width : 480px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
}
#logo img {
	max-width: 100%;
}
#nav ul {
	margin: 5% 0;
}

#nav ul li a {
	-webkit-user-select: none;
	font-size: 0.750em;
}

#nav ul li {
	float: left;
	margin: 5% 0;
	}
	#nav ul  li.about {
		width: 20%;
		text-align: left;
	}
	#nav ul  li.pricing {
		width: 55%;
		text-align: center;
	}
	#nav ul  li.locations {
		width: 25%;
		text-align: right;
	}
	#nav ul  li.contact {
		width: 100%;
		margin: 0;
		font-size: 1em;
	}


#intro, #about {
	display: none;
}
#featured-cupcake, #new-cupcakes {
	margin: 5% 0;
}

}