/** main styling **/

body {
    font-family: 'Lobster', cursive;
    color: #77618a;
    background: #f7f7f7;
}

a {
    color: #C17DD8;
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin: 1% 0 0 30%;
}

#collage {
    margin: 0 0 0 4.25%;
    max-width: 100%;
    height: auto;
}

/** navigation **/

ul.nav {
    width: 65%;
    margin: 0 auto;
    float: right;
    list-style: none;
    text-align: center;
}

ul.nav li {
    float: left;
    margin-right: 5%;
       
}

/** page portfolio **/

#gallery {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: solid;
    border-color: black;
}

.flower {
    float: left;
    margin: .4% .5% .4% 4%;
}

.flower img {
    width: 100%;
    height: auto;
}


#anchor1 {
    clear: both;
    margin-left: 42%;
    font-size: 2em;
}

/** footer **/

#footer {
    border-top: 8px solid #2a0400;
    padding: 10px 0;
    margin: 15px 10px 0 10px;
    text-align: center;
}


/*** media queries ***/

@media screen and (max-width: 976px) {
    
    body {
        background-color: red;
    }
    
    .grid_12 {
        width: 100%;
    }
    
    #gallery li {
        margin: .4% .5% .4% 26%;
    }
    
    #anchor1 {
        margin-left: 50%;
    }
}

